ion-content {
	background-color: #F5F5F5;
}

ion-card.tasks-page {
	border-radius: 5px;
	margin-bottom: 3vh;
}

div.color {
	height: 0.5vh;
	border-radius: 2px;
}

h1.tasks-page {
	display: inline-block;
	padding-top: 2vh;
	padding-left: 3vh;
	padding-right: 3vh;
}

#notask {
	width: 100%;
	text-align: center;
}
