div.CS3226 {
	background-color: red;
	height: 0.5vh;
}

ion-content.tasks-page {
	background-color: #EEEEEE;
	width: 100%;
}

ion-card.tasks-page {
  	height: 20%;
	margin: 6%;
	border-radius: 6px;
}

.scroll-content {
	
}
